[user]
  name = rpmwin
  email = rishikpuneetm@gmail.com

[includeIf "gitdir:~/Developer/personal/"]
  path = ~/.gitconfig-personal

[includeIf "gitdir:~/Developer/projects/"]
  path = ~/.gitconfig-personal

[includeIf "gitdir:~/Developer/hf/"]
  path = ~/.gitconfig-work

[core]
  excludesfile = ~/.gitignore_global
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true
  line-numbers = true
  syntax-theme = Catppuccin Mocha

[alias]
  st = status -sb
  co = checkout
  ci = commit
  br = branch
  lg = log --graph --oneline --decorate --all
  undo = reset HEAD~1 --mixed
  amend = commit --amend --no-edit
  wip = !git add -A && git commit -m 'wip'
  nuke = !git reset --hard && git clean -fd

[init]
  defaultBranch = main

[pull]
  rebase = false

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
